fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-multipart
websockets
redis
apscheduler
certifi

# AI/ML
groq
langchain-groq
transformers
# pip install torch==2.8.0+cpu --index-url https://download.pytorch.org/whl/cpu
Pillow
numpy

# Document processing
PyMuPDF
langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.30
faiss-cpu